body{
    display: flex;
    justify-content: center;
}
#map{
    flex-direction: column;
}
#bar-chart{
    margin-top: 5%;
}
#imeZupanije, h3{
    text-align: center;
}
#imeZupanije{
    font-size: larger;
   
}
#brojStanovnikaZupanije{
    text-align: center;
    font-size: larger;
}